@using WebClient.Models.Blocks
@using WebClient.Models.ViewModels
@using EPiServer.ServiceLocation
@using EPiServer.Web.Routing
@using Services.BlockModel
@model QuestionsBlockType
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header" >
                Blog Post
                <small>Questionaire</small>
            </h1>
            <ol class="breadcrumb">
                <li>
                    <a href="../index.html">Home</a>
                </li>
                <li class="active">Q&AnsTest</li>
            </ol>
            <hr>
            <p>
                <i class="fa fa-clock-o"></i> Posted on August 29, 2016 at 12:00 PM by <a href="#">Testyourskills</a>
            </p>
            <hr>
        </div>
    </div>
 
        <div id="frame"
             role="content" class="well">
            <table>
                <tr>
                    <td>
                        <img src="@Url.ContentUrl(Model.AnswerOption1Image)" height="200" width="150" />
                        <br />
                        @Html.RadioButton("Answer1", false)
                        @Html.PropertyFor(x => x.AnswerOption1)
                    </td>
                    <td>
                        <img src="@Url.ContentUrl(Model.AnswerOption2Image)" height="200" width="150" />
                        <br />
                        @Html.RadioButton("Answer2", false)
                        @Html.PropertyFor(x => x.AnswerOption2)
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="@Url.ContentUrl(Model.AnswerOption3Image)" height="200" width="150" />
                        <br />
                        @Html.RadioButton("Answer3", false)
                        @Html.PropertyFor(x => x.AnswerOption3)
                    </td>
                    <td>
                        <img src="@Url.ContentUrl(Model.AnswerOption4Image)" height="200" width="150" />
                        <br />
                        @Html.RadioButton("Answer4", false)
                        @Html.PropertyFor(x => x.AnswerOption4)
                    </td>
                </tr>
            </table>
        </div>
    
</div>

@*<script type="text/javascript">
    var quiztitle = "EPI Quiz";


    var quiz = [
           {
               "question": "@Html.PropertyFor(x => x.Questions1)",
               "image": "@Url.ContentUrl(Model.AnswerOption1Image1)",
               "choices": [
                                       "@Html.PropertyFor(x => x.AnswerOption11)",
                                       "@Html.PropertyFor(x => x.AnswerOption21)",
                                       "@Html.PropertyFor(x => x.AnswerOption31)",
                                       "@Html.PropertyFor(x => x.AnswerOption41)"
               ],
               "correct": "@Html.PropertyFor(x => x.CorrectAnswer1)",
               "explanation": "@Html.PropertyFor(x => x.CorrectAnswerDescription1)",
           },
           {
               "question": "@Html.PropertyFor(x => x.Questions2)",
               "image": "@Url.ContentUrl(Model.AnswerOption1Image2)",
               "choices": [
                                       "@Html.PropertyFor(x => x.AnswerOption12)",
                                       "@Html.PropertyFor(x => x.AnswerOption22)",
                                       "@Html.PropertyFor(x => x.AnswerOption32)",
                                       "@Html.PropertyFor(x => x.AnswerOption42)"
               ],
               "correct": "@Html.PropertyFor(x => x.CorrectAnswer2)",
               "explanation": "@Html.PropertyFor(x => x.CorrectAnswerDescription2)",
           },
            {
                "question": "@Html.PropertyFor(x => x.Questions3)",
                "image": "@Url.ContentUrl(Model.AnswerOption1Image3)",
                "choices": [
                                        "@Html.PropertyFor(x => x.AnswerOption13)",
                                        "@Html.PropertyFor(x => x.AnswerOption23)",
                                        "@Html.PropertyFor(x => x.AnswerOption33)",
                                        "@Html.PropertyFor(x => x.AnswerOption43)"
                ],
                "correct": "@Html.PropertyFor(x => x.CorrectAnswer3)",
                "explanation": "@Html.PropertyFor(x => x.CorrectAnswerDescription3)",
            },
            {
                "question": "@Html.PropertyFor(x => x.Questions4)",
                "image": "@Url.ContentUrl(Model.AnswerOption1Image4)",
                "choices": [
                                        "@Html.PropertyFor(x => x.AnswerOption14)",
                                        "@Html.PropertyFor(x => x.AnswerOption24)",
                                        "@Html.PropertyFor(x => x.AnswerOption34)",
                                        "@Html.PropertyFor(x => x.AnswerOption44)"
                ],
                "correct": "@Html.PropertyFor(x => x.CorrectAnswer4)",
                "explanation": "@Html.PropertyFor(x => x.CorrectAnswerDescription4)",
            },
            {
                "question": "@Html.PropertyFor(x => x.Questions5)",
                "image": "@Url.ContentUrl(Model.AnswerOption1Image5)",
                "choices": [
                                        "@Html.PropertyFor(x => x.AnswerOption15)",
                                        "@Html.PropertyFor(x => x.AnswerOption25)",
                                        "@Html.PropertyFor(x => x.AnswerOption35)",
                                        "@Html.PropertyFor(x => x.AnswerOption45)"
                ],
                "correct": "@Html.PropertyFor(x => x.CorrectAnswer5)",
                "explanation": "@Html.PropertyFor(x => x.CorrectAnswerDescription5)",
            },
    ];


    var currentquestion = 0,
        score = 0,
        submt = true,
        picked;

    jQuery(document).ready(function ($) {


        function htmlEncode(value) {
            return $(document.createElement('div')).text(value).html();
        }


        function addChoices(choices) {
            if (typeof choices !== "undefined" && $.type(choices) == "array") {
                $('#choice-block').empty();
                for (var i = 0; i < choices.length; i++) {
                    $(document.createElement('li')).addClass('choice choice-box').attr('data-index', i).text(choices[i]).appendTo('#choice-block');
                }
            }
        }

        function nextQuestion() {
            submt = true;
            $('#explanation').empty();
            $('#question').text(quiz[currentquestion]['question']);
            $('#pager').text('Question ' + Number(currentquestion + 1) + ' of ' + quiz.length);
            if (quiz[currentquestion].hasOwnProperty('image') && quiz[currentquestion]['image'] != "") {
                if ($('#question-image').length == 0) {
                    $(document.createElement('img')).addClass('question-image').attr('id', 'question-image').attr('src', quiz[currentquestion]['image']).attr('alt', htmlEncode(quiz[currentquestion]['question'])).insertAfter('#question');
                } else {
                    $('#question-image').attr('src', quiz[currentquestion]['image']).attr('alt', htmlEncode(quiz[currentquestion]['question']));
                }
            } else {
                $('#question-image').remove();
            }
            addChoices(quiz[currentquestion]['choices']);
            setupButtons();


        }


        function processQuestion(choice) {
            if (quiz[currentquestion]['choices'][choice] == quiz[currentquestion]['correct']) {
                $('.choice').eq(choice).css({
                    'background-color': '#50D943'
                });
                $('#explanation').html('<strong>Correct!</strong> ' + htmlEncode(quiz[currentquestion]['explanation']));
                score++;
            } else {
                $('.choice').eq(choice).css({
                    'background-color': '#D92623'
                });
                $('#explanation').html('<strong>Incorrect.</strong> ' + htmlEncode(quiz[currentquestion]['explanation']));
            }
            currentquestion++;
            $('#submitbutton').html('NEXT QUESTION &raquo;').on('click', function () {
                if (currentquestion == quiz.length) {
                    endQuiz();
                } else {
                    $(this).text('Check Answer').css({
                        'color': '#222'
                    }).off('click');
                    nextQuestion();
                }
            })
        }


        function setupButtons() {
            $('.choice').on('mouseover', function () {
                $(this).css({
                    'background-color': '#e1e1e1'
                });
            });
            $('.choice').on('mouseout', function () {
                $(this).css({
                    'background-color': '#fff'
                });
            })
            $('.choice').on('click', function () {
                picked = $(this).attr('data-index');
                $('.choice').removeAttr('style').off('mouseout mouseover');
                $(this).css({
                    'border-color': '#222',
                    'font-weight': 700,
                    'background-color': '#c1c1c1'
                });
                if (submt) {
                    submt = false;
                    $('#submitbutton').css({
                        'color': '#000'
                    }).on('click', function () {
                        $('.choice').off('click');
                        $(this).off('click');
                        processQuestion(picked);
                    });
                }
            })
        }


        function endQuiz() {
            $('#explanation').empty();
            $('#question').empty();
            $('#choice-block').empty();
            $('#submitbutton').remove();
            $('#question').text("You got " + score + " out of " + quiz.length + " correct.");
            $(document.createElement('h2')).css({
                'text-align': 'center',
                'font-size': '4em'
            }).text(Math.round(score / quiz.length * 100) + '%').insertAfter('#question');
        }


        function init() {
            //add title
            if (typeof quiztitle !== "undefined" && $.type(quiztitle) === "string") {
                $(document.createElement('h1')).text(quiztitle).appendTo('#frame');
            } else {
                $(document.createElement('h1')).text("Quiz").appendTo('#frame');
            }

            //add pager and questions
            if (typeof quiz !== "undefined" && $.type(quiz) === "array") {
                //add pager
                $(document.createElement('p')).addClass('pager').attr('id', 'pager').text('Question 1 of ' + quiz.length).appendTo('#frame');
                //add first question
                $(document.createElement('h2')).addClass('question').attr('id', 'question').text(quiz[0]['question']).appendTo('#frame');
                //add image if present
                if (quiz[0].hasOwnProperty('image') && quiz[0]['image'] != "") {
                    $(document.createElement('img')).addClass('question-image').attr('id', 'question-image').attr('src', quiz[0]['image']).attr('alt', htmlEncode(quiz[0]['question'])).appendTo('#frame');
                }
                $(document.createElement('p')).addClass('explanation').attr('id', 'explanation').html('&nbsp;').appendTo('#frame');

                //questions holder
                $(document.createElement('ul')).attr('id', 'choice-block').appendTo('#frame');

                //add choices
                addChoices(quiz[0]['choices']);

                //add submit button
                $(document.createElement('div')).addClass('choice-box').attr('id', 'submitbutton').text('Check Answer').css({
                    'font-weight': 700,
                    'color': '#222',
                    'padding': '30px 0'
                }).appendTo('#frame');

                setupButtons();
            }
        }

        init();
    });
</script>*@