@using WebClient.Models.Blocks
@using WebClient.Models.ViewModels
@using EPiServer.ServiceLocation
@using EPiServer.Web.Routing
@model CommentViewModel
    <div>@Model.publickey
    <input type="hidden" name="key" value="@Model.publickey" />
   </div>
<div class="container">
    
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
               Comment Block
                <small>Epi Chat</small>
            </h1>
            <ol class="breadcrumb">
                <li>
                    <a href="../index.html">Home</a>
                </li>
                <li class="active">Please Comment</li>
            </ol>
            <div class="maindv well">
                @foreach (var item in Model.Comments)
                {
                    <div style="width:100%" class="dvcomments">
                        @item.CommentText
                        <input type="hidden" name="ParentcommentId" value="@item.CommentId" />
                        <input type="button" class="btnreply" value="Reply" onclick="Reply($(this))" />
                        <div class="dvReply" style="width:100%;">
                            <div class="childcomments" style="width:100%">
                            </div>
                            <div>
                                <div class="Addchildcomments">
                                    <input type="hidden" name="commentId" value="@item.CommentId" />
                                    <input type="hidden" name="pageId" value="@Model.pageId" />
                                    <input type="hidden" name="urlstring" value="@Model.pageURl" />
                                    <textarea name="commentText"></textarea>
                                    @*@Html.TextArea("commentText", new { rows = 10, columns = 40 })*@
                                    <input id="AddChildComment" type="submit" value="AddComment" onclick="AddComment($(this))" />
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
            <div class="Addchildcomments">
                <input type="hidden" name="commentId" value="" />
                <input type="hidden" name="pageId" value="@Model.pageId" />
                <input type="hidden" name="urlstring" value="@Model.pageURl" />
                <textarea name="commentText"></textarea>
                @*@Html.TextArea("commentText", new { rows = 10, columns = 40 })*@
                <input id="AddComment"  class="btn btn-primary btnanswer" type="submit" value="AddComment" onclick="AddComment($(this))" />
            </div>
        </div>
    </div>
</div>

@*@using (Html.BeginForm("Addcomment", "CommentBlock", FormMethod.Post))
{*@



@*}*@


<head>
  
    <script src="~/js/jquery-1.10.2.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
    <script src="~/js/jsbn.js"></script>
    <script src="~/js/jsbn2.js"></script>
    <script src="~/js/RSA.min.js"></script>


    <script type="text/javascript">
        $('.dvReply').hide();

        debugger;
        var pkey = $('input[name=key]').val().split(',');
       
        var rsa = new RSAKey();
        rsa.setPublic(pkey[1], pkey[0]);
        var username = rsa.encrypt("AMol");
        debugger;
        encryption();

        function encryption()
        {

            var data = {
                name: username
            };

            $.ajax({
                type: "GET",
                url: '/CommentService.svc/getdecrypted',
                data: data, // the data in JSON format.  Note it is *not* a JSON object, is is a literal string in JSON format
                contentType: "application/json; charset=utf-8", // we are sending in JSON format so we need to specify this
                dataType: "json", // the data type we want back.  The data will come back in JSON format
                success: function (data) {
                    alert("success"); // it's a quirk, but the JSON data comes back in a property called "d"; {"d":"Hello Aidy F"}
                }
            });



           
            //$.getJSON('/CommentService.svc/getdecrypted', data, successFunc, errorFunc);

            //function successFunc(data, status) {
            //    alert('success');
            //}
            //function errorFunc() {
            //    alert('error');
            //}
        }


        function AddComment(c) {
            if (c.parent('.Addchildcomments').find('textarea[name=commentText]').val().trim() != "") {
                var data = {
                    pageId: c.parent('.Addchildcomments').find('input[name=pageId]').val(),
                    commentText: c.parent('.Addchildcomments').find('textarea[name=commentText]').val(),
                    urlstring: c.parent('.Addchildcomments').find('input[name=urlstring]').val(),
                    commentId: c.parent('.Addchildcomments').find('input[name=commentId]').val()
                };

                $.getJSON('/CommentService.svc/Addcomment', data, successFunc, errorFunc);
                function successFunc(data) {
                    var htmlstr = "";
                    if (data.d.ParentCommentId == "") {

                        htmlstr = htmlstr + "<div style='width:100%' class='dvcomments'>" + data.d.CommentText + "<input type='hidden' name='ParentcommentId' value='" + data.d.CommentId + "' /><input type='button' class='btnreply' value='Reply' onclick='Reply($(this))' />"
                        htmlstr = htmlstr + "<div class='dvReply' style='width:100%;'><div class='childcomments' style='width:100%'></div><div><div class='Addchildcomments'><input type='hidden' name='commentId' value='" + data.d.CommentId + "' /><input type='hidden' name='pageId' value='" + data.d.PageId + "' />"
                        htmlstr = htmlstr + "<input type='hidden' name='urlstring' value=''/><textarea name='commentText'></textarea><input id='AddChildComment' type='submit' value='AddComment' onclick='AddComment($(this))' /></div></div></div></div>"

                        $('.maindv').append(htmlstr);
                        $('.dvReply').hide();
                        c.parent('.Addchildcomments').find('textarea[name=commentText]').val('');

                    } else {

                        htmlstr = htmlstr + '<span>' + data.d["CommentId"] + ',' + data.d["CommentText"] + '</span><br/>'
                        $(c.closest('.dvcomments')).find('.childcomments').append(htmlstr);
                        c.parent('.Addchildcomments').find('textarea[name=commentText]').val('');
                      
                        var cnt = $(c.closest('.dvcomments')).find('.childcomments').find('#rplcnt').text();
                        cnt++;
                        $(c.closest('.dvcomments')).find('.childcomments').find('#rplcnt').text(cnt);
                        
                    }



                };

                function errorFunc() {
                    alert('error');
                }
            }
        }

        function Reply(c) {

            $('.dvReply').hide();
            $(c.parent('.dvcomments')).find('.dvReply').show();

            var data = {
                ParentCommentId: c.parent('.dvcomments').find('input[name=ParentcommentId]').val()
            };

            $.getJSON('/CommentService.svc/GetAllChildComments', data, successFunc, errorFunc);

            function successFunc(data, status) {
                if (data.d.length > 0) {
                    var htmlstr = "";
                    htmlstr = htmlstr + '<span id="rplcntspan" value=' + data.d.length + '>Total Reply : <lable id="rplcnt">' + data.d.length + '</lable></span><br/>';
                    for (var key in data.d) {
                        htmlstr = htmlstr + '<span>' + data.d[key]["CommentId"] + ',' + data.d[key]["CommentText"] + '</span><br/>'
                    }

                    $(c.parent('.dvcomments')).find('.childcomments').html('').append(htmlstr);
                }
            }
            function errorFunc() {
                alert('error');
            }

        }

    </script>
</head>